html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.container_projectSprint {
  background-color: #f1f2f7;
  margin: 0 auto;
}

.project_tittle {
  padding-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;

  color: #181c27;
}

.sprint_list_item {
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;

  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
}

.sprint_tittle {
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #181c27;
}

.sprint_list_item_tittle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: #000000;
}

.sprint_box {
  display: flex;
  justify-content: space-between;
}

.btndel {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./images/delete.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.project_create {
  position: absolute;
  top: 45px;
  left: 140px;
  margin-left: auto;
  margin-right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./images/Vector2.png');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.btnWrapper_add {
  display: flex;
}
.btnWrapper_project {
  position: absolute;
  bottom: 72px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.22;
  cursor: pointer;
  text-align: center;
}
.btnWrapper {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.22;
  cursor: pointer;
}

.btnBackProject {
  width: 44px;
  color: #181c27;
  border: none;
  font-family: inherit;
  background-color: transparent;

  background-image: url('./images/arrow.png');
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btnWrapper_BackProject {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
}
.addpeople {
  margin-right: 10px;
  margin-bottom: 30px;
  width: 20px;
  height: 20px;
  background-image: url(./images/Vector.png);
  transition: all 0.3s linear;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  color: #181c27;
}

.btn,
.btn_project {
  width: 44px;
  height: 44px;
  background-image: url(./images/+.png);
  background-position: 50%;
  border: none;
  border-radius: 50%;
  transition: all 0.3s linear;
  background-color: #ff6b08;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    outline: none;
    box-shadow: 0 0 8px #ff6b08;
  }
}

.text_add {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-decoration: underline;

  color: #181c27;
}

.text {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container_projectSprint {
    position: relative;
    width: 320px;
    height: 512px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .projectgroup {
    display: none;
  }
  .project_create {
    top: 56px;
    left: 160px;
  }
  .project_tittle {
    padding-top: 30px;
  }

  .sprint_list_item {
    width: 280px;
    height: 170px;
  }

  .sprint_list_item:not(:last-child) {
    margin-bottom: 10px;
  }
  .sprint_box:not(:last-child) {
    margin-bottom: 10px;
  }

  .btnBackProject {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .projectSprint_item {
    margin-top: 10px;
    border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .sprint_list_item:nth-child(2n + 1) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container_projectSprint {
    width: 768px;
    height: 1024px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text_project {
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    margin-top: 15px;
  }

  .sprints_btn {
    position: relative;
  }

  .projectgroup {
    display: block;
    padding-top: 60px;
    width: 180px;
  }
  .sprint_list {
    display: flex;
    flex-wrap: wrap;
  }

  .sprint_list_item {
    width: 216px;
    height: 255px;
    margin-bottom: 20px;
  }

  .sprint_box:not(:last-child) {
    margin-bottom: 20px;
  }

  .sprint_tittle {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 28px;
  }

  .project_tittle {
    padding-top: 40px;
  }
  .projectSprint_item {
    padding-top: 28px;
    position: relative;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }

  .sprint_list_item_tittle {
    width: 98px;
    font-size: 14px;
    line-height: 1.21;
  }
  .sprints {
    width: 512px;
    padding-left: 20px;
  }
  .btnWrapper {
    top: -30px;
    right: 0;
  }

  .project_list_item::before {
    content: '';
    top: 50%;
    left: 0;
    width: 36px;
    height: 36px;
    box-shadow: 2px 2px 4px rgba(0, 5, 97, 0.2);
    border-radius: 5px;
    margin-right: 15px;
  }
  // background-image: url(./images/Rectangle2.svg);
  // content: '';
  // display: block;
  // width: 36px;
  // height: 36px;
  // border-radius: 5px;
  // margin-right: 15px;

  .project_list {
    flex-wrap: wrap;
  }

  .project_list_item:nth-child(4n + 1)::before {
    background-color: #8c72df;
  }
  .project_list_item:nth-child(4n + 2)::before {
    background-color: #ff765f;
  }
  .project_list_item:nth-child(4n + 3)::before {
    background-color: #71df87;
  }

  .project_list_item {
    display: flex;
    align-items: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: #181c27;
  }

  .project_list_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container_projectSprint {
    width: 1280px;
    height: 688px;
    display: flex;
    padding-left: 55px;
    padding-right: 85px;
  }
  .projectgroup {
    padding-top: 165px;
  }
  .btncreate_sprint_project {
    bottom: 82px;
    right: 108px;
  }

  .sprint_list_item_tittle {
    width: 100%;
  }
  .sprint_list {
    width: 870px;
    height: 478px;
  }
  .sprint_list_item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .sprint_list_item {
    width: 270px;
    height: 224px;
    margin-bottom: 30px;
  }
  .text {
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  .btn {
    margin-right: 20px;
  }

  .btnWrapper {
    top: -30px;
    right: -350px;
  }
}
