.card {
  width: 136px;
  height: 136px;

  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;

  &:hover .descr {
    display: block;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #ffffff;
    @media screen and (min-width: 767px) {
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: 0.04em;
    }
  }

  @media screen and (max-width: 767px) {
    &:not(:nth-child(2n)) {
      margin-right: 10px;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: 216px;
    height: 216px;
    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 270px;
    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
  }

  &:nth-child(4n + 1) {
    background-color: #8c72df;

    &::before {
      content: none;
      @media screen and (min-width: 1200px) {
        content: url(../images/projectPage/task-1.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }

      @media screen and (min-width: 767px) and (max-width: 1199px) {
        content: url(../images/projectPage/task-1-768.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
    }
  }
  &:nth-child(4n + 2) {
    background-color: #ff765f;
    &::before {
      content: none;
      @media screen and (min-width: 1200px) {
        content: url(../images/projectPage/task-2.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
      @media screen and (min-width: 767px) and (max-width: 1199px) {
        content: url(../images/projectPage/task-2-768.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
    }
  }
  &:nth-child(4n + 3) {
    background-color: #71df87;
    &::before {
      content: none;
      @media screen and (min-width: 1200px) {
        content: url(../images/projectPage/task-3.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
      @media screen and (min-width: 767px) and (max-width: 1199px) {
        content: url(../images/projectPage/task-3-768.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
    }
  }
  &:nth-child(4n + 4) {
    background-color: #8c72df;
    &::before {
      content: none;
      @media screen and (min-width: 1200px) {
        content: url(../images/projectPage/task-4.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
      @media screen and (min-width: 767px) and (max-width: 1199px) {
        content: url(../images/projectPage/task-4-768.png);
        position: absolute;
        top: 0px;
        right: -2px;
      }
    }
  }
}

.title {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  letter-spacing: 0.04em;
  @media screen and (min-width: 767px) {
    font-size: 26px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.23;
  }
}

.link {
  padding: 20px;
  text-align: center;
  width: 136px;
  height: 136px;
  position: absolute;
  cursor: pointer;

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: 216px;
    height: 216px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 270px;
  }
}

.descr {
  display: none;
}

.cart {
  background-image: url(../images/projectPage/cart.svg);
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  bottom: 8px;
  right: 8px;
  outline: none;
  @media screen and (min-width: 767px) {
    width: 34px;
    height: 34px;
  }
}
