.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    max-width: 320px;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    max-width: 1199px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 55px;
    padding-right: 55px;
  }
}
