.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    max-width: 720px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
