.project_wrapper {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  max-width: 320px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.sprints_btn {
  position: relative;
}
.project_tittle {
  padding-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: #181c27;
}
.project_create {
  position: absolute;
  top: 45px;
  left: 140px;
  margin-left: auto;
  margin-right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../img/sprintsPage/Vector2.png');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.btnWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.22;
  cursor: pointer;
  z-index: 5;
  // @media screen and (min-width: 320px) and (max-width: 767px) {
  // }
  @media screen and (min-width: 767px) and (max-width: 1023px) {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  @media screen and (min-width: 1024px) {
    position: absolute;
    top: 30px;
    right: -50px;
    display: flex;
    height: fit-content;
    align-items: center;
  }
}
.btnWrapper_add {
  display: flex;
}
.btn {
  width: 44px;
  height: 44px;
  background-image: url(../../img/sprintsPage/+.png);
  background-position: 50%;
  border: none;
  border-radius: 50%;
  transition: all 0.3s linear;
  background-color: #ff6b08;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    outline: none;
    box-shadow: 0 0 8px #ff6b08;
  }
}
.text {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    margin-left: 20px;
  }
}

.text_add {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-decoration: underline;

  color: #181c27;
}
.addpeople {
  margin-right: 10px;
  margin-bottom: 30px;
  width: 20px;
  height: 20px;
  background-image: url(../../img/sprintsPage/Vector.png);
  transition: all 0.3s linear;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  color: #181c27;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .project_wrapper {
    max-width: 320px;
  }
  .project_tittle {
    padding-top: 30px;
  }
  .project_create {
    top: 56px;
    left: 160px;
  }
}
@media screen and (min-width: 768px) {
  .project_tittle {
    padding-top: 40px;
  }
  .sprints {
    padding-left: 20px;
  }
}
