.sprint_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_title {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #181c27;
  margin-bottom: 30px;

  @media screen and (min-width: 767px) {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
  }
}

.form_field {
  position: relative;
  margin: 30px 0;
}

.form_lable {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  pointer-events: none;
}

.form_input {
  width: 280px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  border: none;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);

  @media screen and (min-width: 767px) {
    width: 429px;
    height: 30px;
  }

  &:hover {
    border-bottom: 2px solid black;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid #ff6b08;
    transition: all 0.25s linear;
  }

  &:focus + .form_lable,
  &:not(:placeholder-shown) + .form_lable {
    font-size: 14px;
    color: #ff6b08;
    transform: translateY(-23px);
    transition: all 0.25s linear;
  }
}

.btn_submit {
  display: block;
  margin: 25px 0;
  padding: 0;
  width: 154px;
  height: 44px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;

  color: #fff;
  background: #ff6b08;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  margin-bottom: 20px;
  transition: all 0.25s linear;

  &:hover,
  &:focus {
    color: #ff6b08;
    background: #fff;
  }
}

.errorInput {
  border-bottom: 1px solid #ff6b08;
}

.error {
  position: absolute;
  top: 28px;
  left: 0;
  color: #ff6b08;
  font-size: 12px;
}

.wrap {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.errorMessage {
  margin: 0 0 30px 0;
  padding: 0;
  color: red;
}

.memberCount {
  width: 430px;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat';
  margin: 0 auto 20px;
}
