.headWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #f1f2f7;
  padding: 40px 9px 30px 0;
}
.btnWrapper {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.22;
  cursor: pointer;
  @media screen and (max-width: 1199px) {
    margin-right: 0;
  }
}

.btn {
  width: 44px;
  height: 44px;
  margin-right: 20px;
  background-image: url(../../img/projectsPage/+.png);
  background-position: 50%;
  border: none;
  border-radius: 50%;
  transition: all 0.3s linear;
  background-color: #ff6b08;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    outline: none;
    box-shadow: 0 0 8px #ff6b08;
  }
  @media screen and (max-width: 1199px) {
    margin-right: 0;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    position: absolute;
    bottom: -350%;
    right: 3%;
    z-index: 20;
  }
}

.text {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }
}
