@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

/* цей блок під питанням, воно підтягується з нормалайза */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* цей блок під питанням, воно підтягується з нормалайза */

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: 0.04em;

  margin: 0;
  background: #e5e5e5;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  overflow: hidden;
}
